# Python
*.py[cod]
*.$py.class
*.so
__pycache__/
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# If you are using PostgreSQL with local database files
*.pgsql

# ENV files
.env
.env.*

# Pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
poetry.toml

# Virtualenv
venv/
ENV/
env/
.venv/
.virtualenv/

# PyCharm
.idea/

# VSCode
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints/

# Celery beat schedule file
celerybeat-schedule

# Sentry files
.sentryclirc

# AWS credentials
.aws/
